:root {
  box-sizing: border-box;

  /*PORTADA*/
  --maxwidthPrograma: 400px;
  --bgcolor: #f8cb59;
  --bgtransparency: #e0b64c6f;
  --bggradient: linear-gradient(
    180deg,
    rgba(224, 181, 76, 1) 21%,
    rgba(187, 122, 36, 1) 100%
  );
  --fontcolor: #180118;
  --textshadow: 0px 0px 25px rgba(250, 239, 83, 0.925);
}

body {
  margin: 0;
  padding: 0 1rem;
  background: var(--bggradient);
  background-image: url("./images/lunaBg.png");
  background-size: cover;
}
a {
  text-decoration: none;
}
.container-programa,
.container-obra,
.container-portada {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  color: var(--fontcolor);
}

.container-obra {
  padding: 1rem;
  width: 100%;
}

.container-title {
  max-width: var(--maxwidthPrograma);
}
.container-title img {
  max-width: 300px;
  margin: 1rem 0;
}
.container-sinopsis,
.container-historia {
  max-width: var(--maxwidthPrograma);
  padding: 1rem;
  background-color: var(--bgtransparency);
  border-radius: 20px;
}

.historia-accent {
  font-size: 1.3rem;
  margin: 1rem auto;
}
.historia-accent:last-of-type {
  margin: 1rem auto 0;
}

.container-elenco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--maxwidthPrograma);
}

.container-trabajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-trabajo h3 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.4rem;
  text-shadow: var(--textshadow);
  margin: 1.4rem auto 0;
}

.container-trabajo:first-of-type h3 {
  margin-top: 0.5rem;
}
.container-persona {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-persona p {
  margin: 0.5rem 0;
  text-shadow: var(--textshadow);
}
.container-persona a {
  margin-left: 0.5rem;
  color: var(--fontcolor);
  position: relative;
  top: 0.1rem;
}

.container-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: var(--maxwidthPrograma);
}
.container-logo {
  margin: 2rem 0;
  width: 100%;
}
.logo-opinion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-opinion h3 {
  margin-right: 0.5rem;
}
.container-logo img {
  max-width: 200px;
  transform: translateX(1rem);
  border-radius: 20px;
}
.obra-title, .lunas-title {
  text-shadow: var(--textshadow);
  margin-bottom: 0;
}

.container-hechopor {
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: monospace;
}
.container-hechopor a {
  text-decoration: none;
  font-size: 1rem;
  color: #531cb3;
  font-weight: 600;
}

/* CONT LUNAS */

.container-lunas {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: var(--maxwidthPrograma);
}
.container-luna{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 130px;
}
.container-luna img{
  max-width: 130px;
}
.container-luna h3{
  margin:0;
  transform: translateY(-0.8rem);
}

.container-luna-info img{
  width: 300px;
}
.container-luna-info p:first-of-type{
  margin: -2rem 0 0;
}
.container-luna-info h4{
  margin: 0.75rem
}

.button-luna{
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: none;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
}
.lunas-title{
  transform: translateY(1rem);
}