:root {
  box-sizing: border-box;

  /*PORTADA*/
  --bgcolor: #e0b54c;
  --bgtransparency: #e0b64c6f;
  --bggradient: linear-gradient(
    180deg,
    rgba(224, 181, 76, 1) 21%,
    rgba(187, 122, 36, 1) 100%
  );
  --fontcolor: #180118;
  --textshadow: 0px 0px 25px rgba(250, 239, 83, 0.925);
}

body {
  margin: 0;
  padding: 0 1rem;
  background: var(--bgcolor);
  background: var(--bggradient);
  background-image: url("./images/lunaBg.png");
  background-size: cover;
}
a {
  text-decoration: none;
}
.container-programa,
.container-obra,
.container-portada {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  color: var(--fontcolor);
}

.container-obra {
  padding: 1rem;
  width: 100%;
}

.container-title {
  max-width: 400px;
}
.container-title img {
  max-width: 300px;
  margin: 2rem 0;
}
.container-sinopsis,
.container-historia {
  max-width: 400px;
  padding: 1rem;
  background-color: var(--bgtransparency);
  border-radius: 20px;
}

.historia-accent {
  font-size: 1.3rem;
  margin: 1rem auto;
}
.historia-accent:last-of-type {
  margin: 1rem auto 0;
}

.container-elenco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.container-trabajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-trabajo h3 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.4rem;
  text-shadow: var(--textshadow);
  margin: 1.4rem auto 0;
}

.container-trabajo:first-of-type h3 {
  margin-top: 0.5rem;
}
.container-persona {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-persona p {
  margin: 0.5rem 0;
  text-shadow: var(--textshadow);
}
.container-persona a {
  margin-left: 0.5rem;
  color: var(--fontcolor);
  position: relative;
  top: 0.1rem;
}

.container-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
}
.container-logo {
  margin: 2rem 0;
  width: 100%;
}
.container-logo img {
  max-width: 200px;
  transform: translateX(1rem);
  border-radius: 20px;
}
.obra-title {
  text-shadow: var(--textshadow);
}
/* SLIDER */

/*
=============== 
Variables
===============
*/

:root {
  --transition: all 0.5s cubic-bezier(0.73, 0.01, 0, 1.27);
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --max-width: 400px;
}
/*

/*  global classes */

/* section */
.section {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

/*
=============== 
Slider
===============
*/

.section-center {
  margin: 0.5rem auto 1.5rem;
  width: 100%;
  /* have to have a height */
  height: 300px;
  max-width: 400px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  width: 300px;
  height: 300px;
}
.prev,
.next {
  position: absolute;
  top: 0;
  width: 3.25rem;
  height: 100%;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
